<!DOCTYPE html>
<html lang="en"> 
<head>
    <title>Page and Pen Hub - Flask based book review site</title>
    
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Flask based book review site">
    <meta name="author" content="Xiaoying Riley at 3rd Wave Media">    
    <link rel="shortcut icon" href="favicon.ico"> 
    
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Quicksand:700|Roboto:400,400i,700&display=swap" rel="stylesheet">
    
    <!-- FontAwesome JS-->
    <script defer src="{{ url_for('static', filename='fontawesome/js/all.min.js') }}"></script>

    <!-- Theme CSS -->  
    <link id="theme-style" rel="stylesheet" href="{{ url_for('static', filename='css/theme.css') }}">

</head> 

<body>    
<header class="header ">	    
        <div class="branding">
            <div class="container-fluid position-relative py-3">
                <div class="logo-wrapper">
	                <div class="site-logo"><a class="navbar-brand" href="index.html"><img class="logo-icon mr-2" src="{{ url_for('static', filename='images/site-logo.svg') }}" alt="logo" ><span class="logo-text">Page and Pen Hub</span></a></div>    
                </div><!--//docs-logo-wrapper-->
	        
            </div><!--//container-->
        </div><!--//branding-->
    </header><!--//header-->
    
	
{% with messages = get_flashed_messages(with_categories = true)%} 
    {% if messages %}
        {% for category, message in messages%}
            <div class="alert alert-{{ category}}" role="alert">
            <p>
                {{ message }}
            </p>
        </div>
        {% endfor %}
        
    {% endif %}
{% endwith %}

{% block content%}
{% endblock content%}

{% block hero%}
{% endblock hero%}

{% block reviews%}
{% endblock reviews%}

    <footer class="footer">

	    <div class="footer-bottom text-center py-5">

	        <!--/* This template is free as long as you keep the footer attribution link. If you'd like to use the template without the attribution link, you can buy the commercial license via our website: themes.3rdwavemedia.com Thank you for your support. :) */-->
            <small class="copyright">Designed with <i class="fas fa-heart" style="color: #fb866a;"></i> and <i class="fab fa-github" style="color: #fb866a;"></i> </small>
	    </div>
	    
    </footer>
       
    <!-- Javascript -->          
    <script src="{{ url_for('static', filename='plugins/jquery-3.4.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/bootstrap/js/bootstrap.min.js') }}"></script>  
    <script src="{{ url_for('static', filename='plugins/jquery.scrollTo.min.js') }}"></script>  
    <script src="{{ url_for('static', filename='plugins/back-to-top.js') }}"></script>  
    
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>
</html> 

